.lobby-container {
  display: flex;
  flex-direction: column;
  color: #000;
  background: #fff;
  width: 800px;
  margin: 0 auto;
  border-radius: 25px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

@media screen and (max-width: 860px) {
  .lobby-container {
    width: 500px;
  }
}

@media screen and (max-width: 640px) {
  .lobby-container {
    width: 300px;
  }
}

.start-round {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.button-start {
  width: 100%;
  text-align: center;
}

.players {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

.react-tabs__tab-list {
  text-align: center;
}
